<%- include('_partials/_layout-start') %>

    <% persons.forEach(person => { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%=person.title %></h5>
                <p class="card-text"><%=person.subtitle %></p>
                <a href="<%= person.primaryCta %> " class="btn btn-primary"><%=person.primaryCtaLabel %> </a>
            </div>
        </div>
    <% }) %>
<%- include('_partials/_layout-end') %>